[submodule "src/third_party/autojson"]
	path = src/third_party/autojson
	url = https://github.com/establishment/autojson
[submodule "src/third_party/cpp-base"]
	path = src/third_party/cpp-base
	url = https://github.com/establishment/cpp-base
